<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/fontawesome.css.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fonts.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.bundle.js"></script>
    <script src="assets/js/fontawesome/fontawesome.js"></script>
</head>
<body>
<form action="/profile" , method="post">
    <label for="nameId">Name</label>
    <input id="nameId" type="text" name="name" placeholder="Enter name">

    <label for="familyId">family</label>
    <input id="familyId" type="text" name="family" placeholder="Enter family">

    <input class="btn btn-primary" type="submit" value="Save">
</form>

<table class="table table-hover border">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Family</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    {% for profile in profile_list%}
    <tr>
        <td>{{profile.id}}</td>
        <td>{{profile.name}}</td>
        <td>{{profile.family}}</td>
        <td>
            <button class="btn btn-primary"><i class="fa fa-user"></i> Edit</button>
            <button class="btn btn-danger"><i class="fa fa-remove"></i> Remove</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>