{% extends "template.html" %}


{% block title %}
Main
{% endblock %}

{% block content_title %}
Main Page
{% endblock %}


{% block content %}
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores delectus non officia quas quia? Ad assumenda delectus dignissimos eos sunt ut veniam voluptatem. Consequuntur enim error incidunt, non provident suscipit?</span><span>Dolorem dolores eius enim esse et exercitationem, facilis, inventore iusto minus modi pariatur perferendis qui, quidem repellendus sunt velit vero? Aperiam architecto blanditiis illum minima mollitia saepe, tenetur totam voluptate?</span></p>
{% endblock %}
