<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like Page</title>
</head>
<body>
<header>
    <h1>Like Page</h1>
</header>
<main>

    <section class="search">
        <input type="text" placeholder="Search for content">
        <button type="submit">Search</button>
    </section>

    <section class="content">
        <ul>
            <li>
                <img src="" alt="Content">
                <h2>Content Title</h2>
                <p>Content description</p>
                <button type="button" class="like">Like</button>
            </li>
            <li>
                <img src="" alt="Content">
                <h2>Content Title</h2>
                <p>Content description</p>
                <button type="button" class="like">Like</button>
            </li>
           <li>
                <img src="" alt="Content">
                <h2>Content Title</h2>
                <p>Content description</p>
                <button type="button" class="like">Like</button>
            </li>
        </ul>
    </section>
</main>
<footer>
    <p>&copy;2023</p>
</footer>

</body>
</html>