<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SocialMedia - Login</title>

    <link rel="stylesheet"
          href="assets/css/bootstrap/bootstrap.min.css">

    <link rel="stylesheet"
          href="assets/css/bootstrap/bootstrap.min.css">


    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                </div>
                                <div class="text-center">
                                    <h3 style="color: red">{{message}}</h3>
                                </div>
                                <form class="user" action="/login" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="username"
                                               id="exampleInputEmail" placeholder="Enter Username">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" name="password"
                                               id="exampleInputPassword" placeholder="Enter Password">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" name="remember" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                                    <hr>
                                    <a href="https://myaccount.google.com/" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="https://facebook.com" class="btn btn-instagram btn-user btn-block">
                                        <i class="fab fa-facebook fa-fw"></i> Login with facebook
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forget-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% block myScript %}
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap/bootstrap.bundle.js"></script>
<script src="assets/js/fontawesome/all.js"></script>
<script src="assets/js/index.js"></script>

{% endblock %}


</body>

</html>