{% extends "template.html" %}

{% block title %}
Post
{% endblock %}

{% block myStyle%}
<link rel="stylesheet" href="assets/css/post.css">
{% endblock %}

{% block content_title %}
Post Page
{% endblock %}


{% block content %}

<div class="row">
    <div class="create-post">
        <form action="/post" method="post">
            <label for="post-content">Post Content</label>
            <textarea id="post-content" name="text"></textarea>

            <label for="post-image">Choose Image</label>
            <input type="file" id="post-image" name="image">

            <button type="submit">Submit Post</button>
        </form>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-8">
        <h3>Posts</h3>
        <table class="table table-primary table-hover">
            <thead>
            <tr class="row">
                <th class="col-1">Id</th>
                <th class="col-9">Post</th>
                <th class="col-2">View</th>
            </tr>
            </thead>
            <tbody>

            {% for post in posts %}
            <tr class="row">
                <td class="col-1">{{ post.text }}</td>
                <td class="col-9">{{ post.comments }}</td>
                <td class="col-2">
                    <button onclick="viewComments({{ post.id }})" class="btn btn-primary">Comments</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-left: 30px" class="col-3">
        <h3>Comments</h3>
        <table class="table table-warning">
            <thead>
            <tr class="row">
                <th class="col-9">Comment</th>
                <th class="col-3">By</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block myScript %}
<script src="assets/js/post.js"></script>
{% endblock %}