<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SocialMedia - Register</title>

    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css"
    etag="abcdefg">

    <link rel="stylesheet" href="assets/css/animate.min.css"
    etag="abcdefg">

    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css"
    etag="abcdefg">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="/register" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" name="name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name" name="family">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" name="email">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password" name="repeat_password">
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Register Account">
                                <hr>
                                    <a href="https://mail.google.com/mail/">
                                 <i class="fa fa-google" style="font-size:40px;"></i> Register with Google
                                </a>


                                <a href="https://facebook.com">
                            <i class="fa fa-facebook" style="font-size:40px;"></i> Register with Facebook

                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forget">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% block myScript %}
   <script src="assets/js/jquery-3.7.1.min.js"></script>
   <script src="assets/js/bootstrap/bootstrap.bundle.js"></script>
  <script src="assets/js/fontawesome/all.js"></script>
  <script src="assets/js/index.js"></script>

{% endblock %}

</html>